#quote-box{
    background-color: #f7f7f7;
    margin: auto;
    width: 50%;
    margin-top: 12%;
    border-radius: 5px;
    overflow: hidden;    
}

#tweet-quote{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
}

#tweet-quote:hover{
    content: '';
    box-shadow: inset 60px 60px 60px rgba(235, 232, 232, 0.6);
}

button {
    border-radius: 5px;
    height: 60px;
    margin: 15px;
    border: none;
    color: #f7f7f7;
    font-weight: 600;
    font-size: 18px;
    margin-left: auto;
}

button:hover{
  content: '';
  box-shadow: inset 60px 60px 60px rgba(235, 232, 232, 0.6);
}

#author{
    font-family: Raleway, sans-serif;
    font-weight: 500;
    text-align: right;
    display: block;
    margin-right: 50px;
}

#text {
    font-family: Raleway, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin:15px;
}

#text::before {
    content: '"';
    font-size: 40px;
}

#text::After {
    content: '"';
    font-size: 40px;
}

#options {
    display:flex;
    flex-direction: row;
}